<app-layout />
<div class="signup-container">
  <form (ngSubmit)="onSignup()" #signupForm="ngForm">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="signupData.username" name="username" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="signupData.email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="signupData.password" name="password" required>
    </div>
    <div>
      <label for="department">Department:</label>
      <select id="department" [(ngModel)]="signupData.departmentId" name="departmentId">
        <option value="" disabled selected>Select your department</option>
        <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
</div>
