{# {% extends 'admin/admin.html.twig' %} #}

{# {% block title %}Dashboard{% endblock %} #}

{# {% block body %} #}
    {# <h1>Welcome to the Admin Dashboard</h1> #}

     {# {% if section == 'users' %}
        {% include 'admin/user/userlist.html.twig' %}
    {% elseif section == 'recipe' %}
        {% include 'admin/recipe/index.html.twig' %}
    {% elseif section == 'category' %}
        {% include 'admin/category/index.html.twig' %}
    {% elseif section == 'department' %}
        {% include 'department/department.html.twig' %}
    {% else %}
        <p>No section selected.</p> 
    {% endif %}  #}
{# {% endblock %} #}
